<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}
            <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
        {% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body>
    <div class="container">


        <div class="page-header">
            <div class="pull-right">
                {%  if is_granted('IS_AUTHENTICATED_FULLY') %}

                    <button type="button" class="btn btn-success" onclick="insertModalUser();">Dodaj użytkownika</button>
                    <a href="{{ logout_path() }}" class="btn btn-danger">Logout</a>
                {% else %}
                    <a href="{{ url("user_index") }}" class="btn btn-default">Login</a>
                    <a href="{{ url("user_add") }}" class="btn btn-success">Rejestracja</a>
                {%  endif %}

            </div>

            <h1>Użytkownicy <small></small></h1>

        </div>
        {% block body %}{% endblock %}
        {% block javascripts %}
            <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
            <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
        {% endblock %}
    </div>
    </body>
</html>
