{% extends 'base.html.twig' %}

{%  block body %}
    <h1>Użytkownik</h1>
    <h2>
        {{ user.username }}<br>
        <small>{{ user.email }}</small>
    </h2>
    <a href="{{ url('user_list') }}" class=""btn btn-default pull-right">lista </a>

{% endblock %}