{% extends 'base.html.twig' %}

{%  block body %}



    <table class="table table-striped" id="users_table">
        <thead>
        <tr>
            <th>
                Użytkownik
            </th>
            <th>
                email
            </th>
            <th>
                edycja
            </th>
        </tr>
        </thead>
        <tbody>
        {% for user in users %}
            <tr id="tr_id_{{ user.id }}">
                <td id="username_id_{{ user.id }}">
                    {{ user.username }}
                </td>
                <td id="useremail_id_{{ user.id }}">
                    {{ user.email }}
                </td>
                <td width="30">
                    <button class="btn btn-default" onclick="editModalUser({{ user.id }}); return false">
                        <span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>
                    </button>
                </td>
            </tr>

        {%  endfor %}


        </tbody>
    </table>

    <!-- Modal -->
    <div class="modal fade" id="myEditModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="modal-title" id="myModalLabel">Edycja użytkownika</h4>
                </div>
                <div class="modal-body">
                    <ul class="nav nav-tabs" id="tabs">
                        <li class="active">
                            <a  href="#tab1" data-toggle="tab">Użytkownik</a>
                        </li>
                        <li>
                            <a href="#tab2" data-toggle="tab">Edycja danych</a>
                        </li>
                        <li>
                            <a href="#tab3" data-toggle="tab">Usunięcie konta</a>
                        </li>
                    </ul>

                    <div class="tab-content ">
                        <div class="tab-pane active" id="tab1">
                            <h3 id="state" style="margin-top: 30px; !important;"></h3>
                            <h2 >
                                <span id="user_name"></span>
                                <small>
                                    <span id="user_email"></span>
                                </small>
                            </h2>

                        </div>
                        <div class="tab-pane" id="tab2">
                            <br>
                            <form>
                                <div class="form-group">
                                    <label for="username">Użytkownik:</label>
                                    <input type="text" name="_username" id="username" required="required" class="form-control">
                                </div>

                                <div class="form-group">
                                    <label for="email">Email:</label>
                                    <input type="text" name="_email" id="email" required="required" class="form-control">
                                </div>

                                <div class="form-group" id="user_password" style="display: none">
                                    <label for="password">Hasło:</label>
                                    <input type="text" name="_password" id="password" required="required" class="form-control">
                                </div>

                                <button type="button" class="btn btn-primary" onclick="updateUser(); return false" id="updateButton">Aktualizuj</button>
                                <button type="button" class="btn btn-primary" onclick="insertUser(); return false" id="insertButton" style="display: none">Zapisz</button>
                            </form>
                        </div>
                        <div class="tab-pane" id="tab3">
                            <br>
                            <form>
                                <button type="button" class="btn btn-danger" onclick="deleteUser(); return false">Usuń użytkownika</button>
                            </form>

                        </div>
                    </div>

                </div>

            </div>
        </div>
    </div>
    <script>
        var UserID = 0;

        function editModalUser(uID) {
            UserID = uID;

            $('#state').append('pobieram dane');
            $('#insertButton').hide();
            $('#updateButton').show();

            $('#tabs a[href="#tab3"]').show();
            $('#tabs a[href="#tab1"]').show().tab('show');
            $('#user_password').hide();

            $('#myEditModal').modal('toggle');


            $.ajax({
                //url: '{{ path('user_edit', {'id' : 2}) }}/',
                url: 'edit/' + UserID,
                type: 'GET',
                success: function (d) {
                    $('#state').remove();
                    $('#user_name').html(d.username);
                    $('#user_email').html(d.email);
                    $('#username').val(d.username);
                    $('#email').val(d.email);

                }
            });

        }

        function insertModalUser() {
            UserID = 0;
            $('#tabs a[href="#tab2"]').tab('show');
            $('#tabs a[href="#tab1"]').hide();
            $('#tabs a[href="#tab3"]').hide();

            $('#username').val('');
            $('#email').val('');
            $('#user_password').show();
            $('#insertButton').show();
            $('#updateButton').hide();

            $('#myEditModal').modal('toggle');
        }

        function insertUser() {
            var _username = $('#username').val(),
                _email = $('#email').val(),
                _password = $('#password').val();

            $.ajax({
                url: '{{ path('user_insert') }}',
                type: 'POST',
                dataType: 'json',
                data: {username: _username, email: _email, password: _password},
                success: function (d) {
                    console.log(d.id);
                    col1 = '<td id="username_id_' + d.id + '">' + _username + '</td>';
                    col2 = '<td id="useremail_id_' + d.id + '">' + _email + '</td>';
                    col3 = '<td><button class="btn btn-default" onclick="editModalUser(' + d.id + '); return false"><span class="glyphicon glyphicon-pencil" aria-hidden="true"></span></button></td>';
                    $('#users_table tbody').append('<tr id="tr_id_' + d.id + '">' + col1 + col2 + col3 + '</tr>');
                    $('#myEditModal').modal('toggle');
                }
            })
        }

        function updateUser() {
            var _username = $('#username').val(),
                _email = $('#email').val();

            $.ajax({
                url: '{{ path('user_update') }}',
                type: 'PATCH',
                dataType: 'json',
                data: {id: UserID, username: _username, email: _email},
                success: function (d) {
                    $('#username_id_' + UserID).html(_username);
                    $('#useremail_id_' + UserID).html(_email);
                    $('#myEditModal').modal('toggle');
                }
            });
        }

        function deleteUser() {
            if (window.confirm("Czy na prawdę chcesz usunąć użytkownika?")) {
                $.ajax({
                    url: '{{ path('user_delete') }}',
                    type: 'DELETE',
                    dataType: 'json',
                    data: {id: UserID},
                    success: function (d) {
                        $('#tr_id_' + UserID).remove();
                        $('#myEditModal').modal('toggle');
                    }
                });
            }
        }
    </script>

{% endblock %}

