{% extends "base.html.twig" %}

{%  block body %}
    {% if errors %}
        <div class="alert alert-danger">
            {{ errors.messageKey }}
        </div>

    {%  endif %}

    {% for message in app.flashes('notice') %}
        <div class="alert alert-info">
            {{ message }}
        </div>
    {% endfor %}

    <form action="{{ path('login_login') }}" method="post">
        <div class="form-group">
            <label for="username">Użytkownik:</label>
            <input type="text" name="_username" id="username" class="form-control" value="{{ username }}">
        </div>

        <div class="form-group">
            <label for="password">Hasło:</label>
            <input type="text" name="_password" id="password" class="form-control">
        </div>


        <button type="submit" class="btn btn-primary">zaloguj</button>
    </form>

{%  endblock %}