{% extends "base.html.twig" %}

<div class="page-header">
    <div class="pull-right">
        <a href="{{ url("user_add") }}" class="btn btn-success">dodaj</a>
        <a href="{{ url("user_index") }}" class="btn btn-default">lista</a>
    </div>

    <h1>Użytkownicy <small>{{ subtxt }}</small></h1>

</div>